<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for MVCProject.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="baseUrl" value="https://autoremotejoaomgcd.appspot.com/sendmessage" />
    <add key="path" value="key=APA91bEzA_DUNRX4THunoO--bdrIn94sknuJIDHeCskwn2AVOx6AfQkXwHSIb9NluYAxAdA_Doiyqp_65UWmD7FrLAnwFIKg3PY05eYyidDIo5-tOrdqJP2U1RZQSlEx5rTSB0pa8Owa&amp;message=shade=:=" />
    <add key="firebaseEndpoint" value="https://us-central1-jlblackoutshades.cloudfunctions.net/battery" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="Connectionstring" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-D6GU3O6\SQLEXPRESS;Initial Catalog=COP4331;Integrated Security=True;MultipleActiveResultSets=True" />
  <add name="COP4331Entities" connectionString="metadata=res://*/Repository.COPEntites.csdl|res://*/Repository.COPEntites.ssdl|res://*/Repository.COPEntites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-D6GU3O6\SQLEXPRESS;initial catalog=COP4331;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>