<!doctype html>
<html lang="en">
<head>
    <title>Smart Wizard - a JavaScript jQuery Step Wizard plugin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Include Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />*@
    <!-- Include SmartWizard CSS -->
    <!-- Optional SmartWizard theme -->
    <script src="~/js/jquery-2.0.0.min.js"></script>
    <script src="~/js/jquery.smartWizard.js"></script>
    <link href="~/Content/smart_wizard.css" rel="stylesheet" />
    <link href="~/Content/smart_wizard_theme_arrows.css" rel="stylesheet" />
    <style>
        .btn-secondary {
            color: #fff;
            background-color: #5bc0de;
            border-color: #5bc0de;
        }
        .bubble {
            background-color: #5bc0de;
            padding: 15px;
            margin: 10px;
            font-size: 14px;
            border-color: black;
            border: 1px solid black;
            border-radius: 10px;
            font-family: cursive;
            text-align:center;
        }

            .btn-secondary:hover {
                color: #fff;
                background-color: #5bc0de;
                border-color: #5bc0de;
            }
        .btn-danger {
            color: #fff;
            background-color: #5bc0de;
            border-color: #5bc0de;
        }
        .btn-info {
            color: #fff;
            background-color: #5bc0de;
            border-color: #5bc0de;
        }
        .btn-danger:hover {
            color: #fff;
            background-color: #5bc0de;
            border-color: #5bc0de;
        }
    </style>
</head>
<body>
    <div class="container" style="margin:15px;">
        <div>
            <button type="button" style="margin:5px;" class="btn btn-info" onclick="GoBackToDashBoard()">Back To Dashboard</button>
        </div>
        <!-- SmartWizard html -->
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">1 Overview Of Our Product<br /><small>Smart Shades</small></a></li>
                <li><a href="#step-2">2 Wi-Fi<br /><small>Wi-Fi Setup Instructions</small></a></li>
                <li><a href="#step-3">3 Amazon<br /><small> Amazon Setup Instructions</small></a></li>
                <li><a href="#step-4">4 User<br /><small>User Information</small></a></li>
            </ul>
            <div>
                <div id="step-1" class="container">
                    <h2 style="text-align:center;" class="StepTitle">Overview of this Product</h2>
                    <p>
                        This smart home blackout shades system allows for a simple, user-friendly experience for window shades,
                        that everyone has come to expect in this Internet of Things era.
                        A pain-free setup, as well as streamlined interaction are at the heart of the shades system.
                        <ul>
                            <li>
                                Use the web application from any internet-connected smartphone, laptop, or tablet to easily control the onboard LEDs, access a variety of motion sensor features,
                                move the blinds, set wake up times, and more. For added convenience, the smart home blackout shades are Alexa enabled.
                            </li>
                        </ul>

                        With phrases such as, “Tell my shades to open,” or “Tell my shades to turn blue,” and many more, the smart home shades system is fully capable to control with just your voice.
                        If you prefer a more traditional approach, we’ve got that too. A remote control allows for just the basics: moving the shades up and down, if you prefer a no-nonsense approach.
                        This smart home blackout shades system is truly meant to bring windows shades to the twenty-first century.
                        This system handles your window shades so that you don’t have to.
                        <hr />
                        <br/>
                        <div class="container" align="center">
                            <img src="~/Img/Shade Assm_Front_Left.PNG" height="400" width="592" />
                        </div>
                    </p>
                   
                </div>
                <div id="step-2" class="container">
                    <h2 style="text-align:center;" class="StepTitle">Setting Up Your Wi-Fi</h2>
                    <div class="container">
                        <table align="center" class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">
                                        <p style="color:orange;"><b>STEP 1: Please find our WiFi network in network settings. </b></p>
                                    </th>
                                    <th style="text-align:center;">
                                        <p style="color:orange;"><b>STEP 2: Please wait until this page loads and connect to your desired network.</b></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:center;">
                                        <img style="text-align:center" id="step1" src="~/img/Step1.png" width="200" alt="Step 1" />
                                    </td>
                                    <td style="text-align:center;">
                                        <img style="text-align:center" src="~/Img/Step2.PNG" width="200" />

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container justify-content-center">
                        <table style="text-align:center" class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th class="justify-content-center">
                                        <p style="color:orange;"><b>STEP 3: Please provide your network credentals if required.</b></p>
                                    </th>
                                    <th class="justify-content-center">
                                        <p style="color:orange;"><b>STEP 4: View additional information on device. (Optional Step) </b></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="justify-content-center">
                                        <a> <img style="text-align:center" id="step3" src="~/img/Step3.png" width="200" alt="Step 1" /></a>
                                    </td>
                                    <td class="justify-content-center">
                                        <img src="~/Img/Information.png" width="200" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="step-3" class="container">
                    <h2 style="text-align:center;" class="StepTitle">Amazon Echo</h2>
                    <div>
                        <table align="center" class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">
                                        <p style="color:orange;"><b>STEP 1: If You haven't already, please download the Alexa app </b></p>
                                    </th>
                                    <th style="text-align:center;">
                                        <p style="color:orange;"><b>STEP 2: Within the Alexa app, find our skill called <span style="color:#5bc0de;">"JLBlackoutShades"</span> and download it.</b></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:center;">
                                        <img style="text-align:center" id="step1" src="~/Img/alexaApp.png" width="550" height="450" alt="Step 1" />
                                    </td>
                                    <td style="text-align:center;">
                                        <img style="text-align:center" src="~/Img/8196263252617954154.jpg" width="200" />

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <p style="color:#5bc0de;font-size:18px;text-align:center;" class="text-justify"> Alexa Skills:</p>
                            <p>
                                <i style="color:#5bc0de;text-align:center;font-size:18px;"> All phrases begin with “Tell my shades”</i>
                            </p>
                            
                            <ul>
                                <li class="bubble">
                                    All phrases begin with “Tell my shades”
                                </li>
                                <li class="bubble">
                                    Up → “Tell my shades to roll up”
                                </li>
                                <li class="bubble">
                                    Down → “Tell my shades to go down”
                                </li>
                                <li class="bubble">
                                    Up/down by 25% → “Tell my shades to roll down 50%”
                                </li>
                            </ul>
                            <ul>
                                <p style="text-align:center;font-size:18px;">LEDs</p>
                               
                                <li  class="bubble">
                                    “Tell my shades to turn the LED’s off”
                                </li>
                                <li  class="bubble">
                                    Color → “Tell my shades to turn blue”
                                </li>
                                <li  class="bubble">
                                    “Tell my shades to light up red”
                                </li>
                                <li  class="bubble">
                                    “Tell my shades to change to purple”
                                </li>
                            </ul>
                            <ul>
                                <p style="text-align:center;font-size:18px;">Brightness</p>
                                <li  class="bubble">
                                 “Tell my shades to set to 50%”
                                </li>
                                <li  class="bubble">
                                    “Tell my shades to set to 50%”
                                </li>
                                <li  class="bubble">
                                    “Tell my shades 30% brightness ”
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="step-4" class="container">
                    <form id="UserInfo" name="UserInfo">
                        <p><b>In order to make this product work better for you, please provide the following information.</b></p>
                        <label for="formGroupExampleInput">Please Provide Your Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name="WholeName" placeholder="Name Here" />
                        <label for="formGroupExampleInput2">Please Provide Your Email</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" name="Email" placeholder="Email Here" />
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include SmartWizard JavaScript source -->
    <script src="~/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Finish')
                .addClass('btn btn-info')
                .on('click', function () { FormValesGetter()  });
                   var btnCancel = $('<button></button>').text('Cancel')
                .addClass('btn btn-danger')
                .on('click', function () { $('#smartwizard').smartWizard("reset"); });

            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'arrows',
                transitionEffect: 'fade',
                toolbarSettings: {
                    toolbarPosition: 'bottom',
                    toolbarExtraButtons: [btnFinish, btnCancel]
                },
            });
        });
        function GoBackToDashBoard() {
            window.location.href = "/DashBoard/DashBoard";
        }
        function FormValesGetter() {
           
            var forms = $("#UserInfo").serializeArray();
            if (forms.length >0) {
                var firstName = forms[0].value;
                var Email = forms[1].value;
                var response = ajaxCall(firstName , Email);
            }
            window.location.href = "/DashBoard/DashBoard";
        }
        function ajaxCall(firstName, email) {
            var responseText = '';
           var call=     $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProcessAlarmInform", "Home")",
                    dataType: "Json",
                async: false,
               data: JSON.stringify({ FirstName: firstName, Email: email }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    responseText = data;//doesnt goes here
                },
                error: function (textStatus, errorThrown) {
                    Success = false;//doesnt goes here
                }
            });
            return call.responseText;
        }
    </script>
</body>
</html>
