
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon"
          href="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_90,w_90/v1493056987/ovagkblnsytx6gb8zxue.jpg"
          type="image/x-icon" />
    <title>Blinds&trade;</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css?v=2">
    <script src="/js/modernizr.js"></script>
    <link rel="stylesheet" href="/Content/Semantic/semantic.min.css" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"
            integrity="sha256-oTyWrNiP6Qftu4vs2g0RPCKr3g1a6QTlITNgoebxRc4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Content/Main.css" />
</head>
<body>
    <h1 style="text-align:center;color:black;">Remote Utility</h1>
    <br>
    <div>
        <button type="button" class="btn btn-info fas fa-chevron-circle-left" onclick="GoBackToDashBoard()">Back to Dashboard</button>
    </div>
    <div class="container" align="center">
        <button type="button" class="btn btn-primary btn-lg" onclick="goUP(this)" id="MotorUp" value="25"><i class="up"></i></button>
        <button type="button" class="btn btn-primary btn-lg" onclick="goDown(this)" id="MotorDown" value="25"><i class="down"></i></button>
    </div>
   <div style="background:green;">
       <p id="messageBox"></p>
   </div>
</body>
</html>
<style>
    .btn-info {
        color: #fff;
        margin: 15px;
        background-color: #5bc0de;
        border-color: #5bc0de;
    }
        i {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            width:20px;
            height:20px;
        }
        .up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
        .btn-lg, .btn-group-lg > .btn {
            cursor: pointer;
            min-height: 30px;
            position: relative;
            border: 1px solid #333;
            border-radius: 8px;
            padding: 4px 8px;
            margin-left: 20px;
            font: 12pt Calibri bold;
            font-variant: small-caps;
            color: #fff;
            text-shadow: 0 0 0;
            outline: 0;
            letter-spacing: 2px;
            text-shadow: 0 1px 4px #111;
            /*box-shadow*/
            box-shadow: 0 1px 4px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 1px rgba(255,255,255,.1);
            /*linear-gradient*/
            background: linear-gradient(#333,#666);
            padding: 10px 16px;
            margin: 50px;
            font-size: 15px;
            line-height: 1;
            border-radius: 6px;
            width:100px;
            height:200px;
        }
    .container {
        width: 500px;
        max-width: 100%;
        background:#222;
        border: 1px solid silver;
        border-radius: 5px;
    }
</style>

    <script>
        function GoBackToDashBoard() {
            window.location.href = "/DashBoard/DashBoard";
        }
        function goUP(button) {
            var value = document.getElementById("MotorUp").value;
            var result = SendMotorUp(value);
            if (result != null) {
                document.getElementById("messageBox").value = result.responseText;
            }
        }
        function goDown() {
            var value = document.getElementById("MotorDown").value;
            var result = SendMotorDown(value);
            if (result != null) {
                document.getElementById("messageBox").value = result.responseText;
            }
        }
        function SendMotorUp(value) {
           var call=     $.ajax({
                    type: "POST",
                    url: "@Url.Action("MotorUp", "RemoteUtility")",
                    dataType: "Json",
                async: false,
                data: JSON.stringify({ value: value }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    Success = true;//doesnt goes here
                },
                error: function (textStatus, errorThrown) {
                    Success = false;//doesnt goes here
                }
            });
            return call.responseText;
        }
        function SendMotorDown(value) {
            
           var call=     $.ajax({
                    type: "POST",
                    url: "@Url.Action("MotorDown", "RemoteUtility")",
                    dataType: "Json",
                async: false,
                data: JSON.stringify({ value: value }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    Success = true;//doesnt goes here
                },
                error: function (textStatus, errorThrown) {
                    Success = false;//doesnt goes here
                }
            });
            return call.responseText;
        }
    </script>
