
@{
    ViewBag.Title = "_LoginPartial";
}

    <ul class="nav navbar-nav navbar-right" style="float:right">
        
        <li id="signout" style="color:white;">
         Sign Out
        </li>

    </ul>





