<html>
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div id="fullscreen_bg" class="fullscreen_bg" />
    <div>
        <div class="row row-divided">
            <div class="col-xl-6 column-one">
                <form class="form-signin" id="loginForm" name="loginForm">
                    <h1 class="form-signin-heading text-muted">Sign In</h1>
                    <input type="text" id="Username" name="Username" class="form-control" placeholder="User Name" required="" autofocus="">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="Login()">
                        Log In
                    </button>
                </form>
                <div id="myModal" class="modal-content">
                    <div>
                        <span class="close">&times;</span>
                    </div>
                    <span class="text-center" id="loginResult"></span>
                </div>
            </div>
            <div class="vertical-divider">or</div>
            <div class="col-xl-6 column-two">
                <form class="form-signin" id="loginForm" name="loginForm">
                    <h3 class="text-justify">First Name</h3>
                    <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="First Name" required="" autofocus="">
                    <h3 class="">Last Name</h3>
                    <input type="text" id="LastName" name="LastName" class="form-control" placeholder="LastName" required="">
                    <h3 class="">User Name</h3>
                    <input type="text" id="NewUserName" name="NewUserName" class="form-control" placeholder="New User Name" required="">
                    <h3 class="">Password</h3>
                    <input type="password" id="NewUserName" name="newPassword" class="form-control" placeholder="newPassword" required="">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="Login()">
                        Create Account
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    
    var modal = document.getElementById('myModal');
    modal.style.display = "none";

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    function Login() {
        userId = 0;
        firstName = "";
        lastName = "";
        var username = document.getElementById("Username").value;;
        var password = document.getElementById("password").value;
        document.getElementById("loginResult").innerHTML = "";
        $('#loginForm').submit(false);
        var jsonPayload = '{"username" : "' + username + '", "password" : "' + password + '"}';
        var url = "/Home/Login";

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, false);
        xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8");
        try {
            xhr.send(jsonPayload);

            var jsonObject = JSON.parse(xhr.responseText);

            userId = jsonObject.id;

            if (userId < 1) {
                document.getElementById("loginResult").innerHTML = "Login Failed. Please Try Again!";
                modal.style.display = "block";
            }
            else {
                localStorage.setItem('UserID', userId);
                location.href = '@Url.Action("ContactsManager", "Home")?id=' + userId;

            }
        }
        catch (err) {
            document.getElementById("loginResult").innerHTML = err.message;
            
        }
    }
</script>
<style>
    #loginResult{
        text-align:center!important;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #f5f5f5;
        margin-left: 25%; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #007bff;
        width: 50%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    .vertical-divider {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        margin: 0;
        padding: 0;
        width: auto;
        height: 50%;
        line-height: 0;
        text-align: center;
        text-transform: uppercase;
        transform: translateX(-50%);
    }

        .vertical-divider:before,
        .vertical-divider:after {
            position: absolute;
            left: 50%;
            content: '';
            z-index: 9;
            border-left: 1px solid rgba(34,36,38,.15);
            border-right: 1px solid rgba(255,255,255,.1);
            width: 0;
            height: calc(100% - 1rem);
        }

    .row-divided > .vertical-divider {
        height: calc(50% - 1rem);
    }

    .vertical-divider:before {
        top: -100%;
    }

    .vertical-divider:after {
        top: auto;
        bottom: 0;
    }

    .row-divided {
        position: relative;
    }

        .row-divided > [class^="col-"],
        .row-divided > [class*=" col-"] {
            padding-left: 30px; /* gutter width (give a little extra room) 2x default */
            padding-right: 30px; /* gutter width (give a little extra room) 2x default */
        }




    /* just to set different column heights - not needed to function */
    .column-one {
        height: 300px;
    }

    .column-two {
        height: 400px;
    }

</style>